body{
    background-color:rgb(165, 180, 189);
}

h3{
    color:white;
    background-color:blue;
    font-family:Times New Roman;
    border: 2px solid rgb(240, 214, 15);
    margin: auto;
    font-size:150%;
    padding: 5px 10px;
    display: inline-block
}
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
  padding: 15px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

a:visited {
  color: rgb(255, 0, 43);
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: white;
  background-color: blue;
  text-decoration: underline;
}

a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: underline;
}
